.pagination {
  display: flex;

  &__numbers {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 4px;
  }

  &__page-input {
  }

  &__switch {
    margin-left: 8px;
    transform: translateY(2px);
  }

  &__controls-wrapper {
    position: relative;
    max-height: 36px;
    padding: 2px;
    overflow: hidden;
  }

  &__controls {
    transition: transform 0.4s ease-out;

    &_show-page {
      transform: translateY(-34px);
    }
  }

  &__button {
    height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 50%;
    background-color: $color-grayscale-body;
    color: $color-grayscale-bg;
    cursor: pointer;
    box-shadow: 0 35px 40px 0 rgba(0, 0, 0, 0.06);
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &_current {
      background-color: $color-grayscale-label;
    }

    &_dots {
      background-color: $color-grayscale-line;
      color: $color-grayscale-header-weak;
    }
  }
}