.pagination {
  display: flex;
  gap: 8px;

  &__button {
    height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 50%;
    background-color: $color-grayscale-body;
    color: $color-grayscale-bg;
    cursor: pointer;
    box-shadow: 0 35px 40px 0 rgba(0, 0, 0, 0.06);
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &_current {
      background-color: $color-grayscale-label;
    }

    &_dots {
      background-color: $color-grayscale-line;
      color: $color-grayscale-header-weak;
    }
  }
}