.button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  background-color: $color-primary;
  color: white;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.12s ease-in-out;
  outline: none;

  &:hover {
    color: white;
    background-color: $color-default-strong;
  }

  &:focus {
    background-color: $color-primary;
  }

  &:active {
    background-color: $color-grayscale-header;
  }

  &:disabled {
    background-color: $color-default-weak;
  }

  &_secondary {
    background-color: $color-grayscale-header;

    &:hover {
      color: white;
      background-color: $color-grayscale-body;
    }

    &:focus {
      background-color: $color-grayscale-body;
    }

    &:active {
      background-color: $color-grayscale-body;
    }

    &:disabled {
      background-color: $color-grayscale-body;
    }
  }
}




