.side-menu {
  height: 100%;

  &__burger-wrapper {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
  }

  &__burger {
    width: 60%;
    height: 60%;
    fill: white;
    transform: translate(-2px,-2px);
  }

  &__menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-grayscale-header-weak;
    box-shadow: 35px 0 40px 0 rgba(0, 0, 0, 0.06);
    z-index: 2;
  }

  &__menu {
    width: 100%;
    max-width: 400px;
    height: 100%;
    border: 1px solid red;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
  }

  &__substrate {
    background-color: $color-grayscale-header-weak;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    z-index: 1;
  }

  &__header {
    display: flex;
    padding-top: 20px;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  &__logo {
    width: 60%;
  }

  &__arrows {
    fill: white;
    stroke: white;
    width: 38px;
    height: 38px;
  }

  &__arrows-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0.4;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
      cursor: grabbing;
    }
  }
}