.characters-cards {
  display: flex;
  flex-direction: column;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__card-wrapper {
    flex-basis: 24.5%;
    padding: 12px;
  }
}