$color-primary: #610BEF;
$color-default-strong: #4700AB;
$color-default-weak: #A996FF;
$color-bg-strong: #BFBEFC;
$color-bg: #F7F7FC;

$color-grayscale-header: #14142B;
$color-grayscale-header-weak: #262338;
$color-grayscale-body: #4E4B66;
$color-grayscale-label: #6E7191;
$color-grayscale-placeholder: #A0A3BD;
$color-grayscale-line: #D9DBE9;
$color-grayscale-input: #EFF0F6;
$color-grayscale-bg-weak: #F7F7FC;
$color-grayscale-bg: #FCFCFC;

$color-green100: #EAF9DE;
$color-green200: #CBFFAE;
$color-green300: #A6F787;
$color-green400: #7DF75A;
$color-green500: #18BB0C;
$color-green600: #008A00;
$color-green700: #067306;
$color-green800: #07540A;

$color-pink100: #FFECFC;
$color-pink200: #FFABE8;
$color-pink300: #FF75CB;
$color-pink400: #FF54AF;
$color-pink500: #E3026F;
$color-pink600: #CA024F;
$color-pink700: #9E0038;
$color-pink800: #5B001E;